-if(!is_array($render_params))
	.alert.alert-error
		%strong Error!
		=' '.$render_params
-else
	%ul.nav.nav-list{:data-roles=>"#{$node->record_tree2->mode_to_string($node->record_tree2->mode(substr($_POST['fields']['address'],-1)))}"}
		-if(count($render_params)===0)
			%li.nav-header
				No Children
		-foreach($render_params as $name=>$item)
			%li.tree-item#item_-#{$item['node:address']}{:data-name=>"#{$name}",:data-created=>"#{$item['node:created']}",:data-owner=>"#{$item['node:owner']}",:data-roles=>"#{$item['node:modeString']}",:data-address=>"#{$item['node:address']}"}
				%a{:href=>"javascript:"}
					%i.icon-#{isset($item['admin:icon']) ? $item['admin:icon'] : 'file'}
					=$name
		
