!!! 5
%html
	%head
		%meta{:charset=>'utf-8'}
		%title=isset($overwriteTitle) ? $overwriteTitle : 'Salamander Shell'
		%script
			var appPath="#{$tr}",appDir="#{$appDir}",adminUserList=#{$userListJson};
		=$headerHTML
	%body
		.container
			-if(!$isLoggedIn)
				.row
					%form.well.span4.offset4#login{:method=>'post',:action=>'#{$node->uri}'}
						%input.span4{:type=>'text',:placeholder=>'Username',:name=>'fields[name]'}
						%input.span4{:type=>'password',:placeholder=>'Password',:name=>'fields[pw]'}
						%input.span4{:type=>'hidden',:name=>'action',:value=>'user_user/login'}
						%button.btn.btn-primary{:type=>'submit'} Log In
			-else
				.navbar.navbar-fixed-top
					.navbar-inner
						.container
							%a.brand{:href=>"#{$tr}"} Salamander Shell
							%ul.nav
								%li.#{$viewingPage==='index' ? 'active' : ''}
									%a{:href=>"#{$tr}"} Data
								-if($rootRoles['o'])
									%li.#{$viewingPage==='users' ? 'active' : ''}
										%a{:href=>"#{$tr}users"} Users
									%li.#{$viewingPage==='terminal' ? 'active' : ''}
										%a{:href=>"#{$tr}terminal"} Terminal
								%li
									%a{:href=>"#{$tr}logout"} Log Out
				#contents
					=$content
