%ul.posts
	-foreach($pageData as $postAddr=>$post)
		%li{:data-item-address=>"#{$post['node:address']}", :data-item-roles=>"#{$post['node:modeString']}",:data-pattern-match=>"#{$post['pattern:match']}"}
			%h1=$post['title']
			.created
				%span.label Posted on
				%span.value=date('',strtotime($post['node:created']))
			.content=$post['content']
%ul.pager
	%li.next.#{$pageNum===$lastPage ? 'disabled' :''}
		%a{:href=>"#{$tr.($pageNum+1)}"}='Older &rarr;'
	%li.previous.#{$pageNum===1 ? 'disabled' :''}
		%a{:href=>"#{$tr.($pageNum-1)}"}='&larr; Newer'
	-for($i=1;$i<=$lastPage;++$i)
		-if($lastPage>10 && !($i===1 || $i===$lastPage || abs($i-$pageNum)<4))
			-continue;
		%li.#{$i===$pageNum ? 'disabled' :''}
			%a{:href=>"#{$tr.$i}"}=$i
